<!doctype html>
<html>

<head>
  <title>Psi Chat</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font: 13px Helvetica, Arial;
    }

    form {
      background: #000;
      padding: 3px;
      position: fixed;
      bottom: 0;
      width: 100%;
    }

    form input {
      border: 0;
      padding: 10px;
      width: 60%;
      margin-right: .5%;
    }

    form button {
      width: 12%;
      background: rgb(130, 224, 255);
      border: none;
      padding: 10px;
      margin-right: .5%;
    }

    #messages {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    #messages li {
      padding: 5px 10px;
    }

    #messages li:nth-child(odd) {
      background: #eee;
    }
  </style>
</head>

<body>
  <div id="remote-media"></div>
  <ul id="messages"></ul>
  <form action="">
    <input id="m" autocomplete="off" />
    <button type="submit">Send</button>
    <button type="button" onclick="shareWebCam();">Share WebCam</button>
    <button type="button" onclick="shareDesktop();">Share Desktop</button>
  </form>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <script src="https://media.twiliocdn.com/sdk/js/video/v1/twilio-video.min.js"></script>
  <script src="https://cdn.WebRTC-Experiment.com/getScreenId.js"></script>

  <script>
    var room, roomName, username, socket;
    const Video = Twilio.Video;
    var extension = chrome.runtime.connect('dkbjhjljfaagngbdhomnlcheiiangfle');
    var webCamTrack = { audio: true, video: { width: 640 } };
    var screenSharingTrack = { audio: false, video: { mandatory: { chromeMediaSource: 'desktop', chromeMediaSourceId: 'temp', minWidth: 640, maxWidth: 640, minHeight: 480, maxHeight: 480, maxFrameRate: 1 }, optional: [] } }
    $(function () {
      var socketUrl = '<%=model.socketUrl %>';
      var secureSocket = <%= model.secureSocket %>;
      socket = io.connect(socketUrl, { secure: secureSocket, transports: ['websocket'] });
      username = prompt("", "Enter your nick name");
      roomName = prompt("", "Enter room");
      bindControls();
      bindExtensionEvents();
      bindSocketEvents();
    });

    var addMessage = function (from, message) {
      $('#messages').append($('<li>').html('<strong>' + from + ': </strong>' + message));
    }
    var bindControls = function () {
      $('form').submit(function () {

        msg = $('#m').val();
        socket.emit('chat message', msg);
        $('#messages').append($('<li>').html('<strong>' + username + ': </strong>' + msg));
        $('#m').val('');
        return false;
      });
    };
    bindExtensionEvents = function () {
      extension.onMessage.addListener(function (response) {
        var settings = screenSharingTrack;
        settings.video.mandatory.chromeMediaSourceId = response.desktopId;
        navigator.webkitGetUserMedia(settings, function (stream) {
          room.localParticipant.addTracks(new LocalVideoTrack(stream.getVideoTracks()[0]));
        }, function (e) {
          addMessage('system', 'Error while adding desktop: ' + err)
        });
      });

    }
    var bindSocketEvents = function () {
      socket.on('chat message', function (msg) {
        addMessage(msg.username, msg.message);
      });
      socket.on('connect', function () {
        joinRoom();
      });
    };
    var bindRoomEvents = function () {
      room.participants.forEach(function (participant) {
        addMessage('system', "Already in Room: " + participant.identity);
        attachParticipantTracks(participant, document.getElementById('remote-media'));
      });

      // When a Participant adds a Track, attach it to the DOM.
      room.on('trackAdded', function (track, participant) {
        attachTracks([track], document.getElementById('remote-media'));
      });

      // When a Participant removes a Track, detach it from the DOM.
      room.on('trackRemoved', function (track, participant) {
        addMessage('system', participant.identity + " removed track: " + track.kind);
        detachTracks([track]);
      });

      // When a Participant leaves the Room, detach its Tracks.
      room.on('participantDisconnected', function (participant) {
        addMessage('system', "Participant " + participant.identity + " left the room");
        detachParticipantTracks(participant);
      });
    }
    var joinRoom = function () {
      socket.emit('joinroom', { room: roomName, username: username });
      var getToken =
        $.get(`/token/${roomName}/${username}`).then(function (data) {
          Video.connect(data.token, { name: roomName, tracks: [] }).then(roomJoined, function (error) { $('#messages').append($('<li>').html('Could not connect to Twilio: ' + error.message)); });
        }, function () {
          alert("$.get failed!");
        }
        );
    }
    var roomJoined = function (joinedRoom) {
      room = joinedRoom;
      bindRoomEvents();
    }
    var shareWebCam = function () {
      Video.createLocalTracks(webCamTrack).then(function (localTrack) {
        room.localParticipant.addTracks(localTrack);
      });
    }

    var shareDesktop = function () {
      //this will work with ie extension
      //extension.postMessage({ source: "queryForDesktopId" });

      getScreenId(function (error, sourceId, screen_constraints) {
        console.log(error);
        console.log(sourceId);
        console.log(screen_constraints);

        var settings = screenSharingTrack;
        settings.video.mandatory.chromeMediaSourceId = sourceId;
        Video.createLocalTracks(settings).then(function (localTrack) {
        room.localParticipant.addTracks(localTrack);
      });
      //  navigator.webkitGetUserMedia(settings, function (stream) {
      //    room.localParticipant.addTracks(new LocalVideoTrack(stream.getVideoTracks()[0]));
      //  }, function (e) {
      //    addMessage('system', 'Error while adding desktop: ' + err)
      //  });
      });
    }

    var attachTracks = function (tracks, container) {
      tracks.forEach(function (track) {
        container.appendChild(track.attach());
      });
    }

    // Detach the Tracks from the DOM.
    function detachTracks(tracks) {
      tracks.forEach(function (track) {
        track.detach().forEach(function (detachedElement) {
          detachedElement.remove();
        });
      });
    }

    // Leave Room.
    var leaveRoomIfJoined = function () {
      if (room) {
        room.disconnect();
      }
    }

    // Attach the Participant's Tracks to the DOM.
    var attachParticipantTracks = function (participant, container) {
      var tracks = Array.from(participant.tracks.values());
      attachTracks(tracks, container);
    }

    var detachParticipantTracks = function (participant) {
      var tracks = Array.from(participant.tracks.values());
      detachTracks(tracks);
    }

    // When we are about to transition away from this page, disconnect
    // from the room, if joined.
    window.addEventListener('beforeunload', leaveRoomIfJoined);
  </script>
</body>

</html>